.btn,
button {
    outline: none;
    border: 1px @btn_default_border_color solid;
    border-radius: 4px;
    padding: 17px 30px;
    line-height: 1;
    vertical-align: middle;
    color: @btn_default_color;
    cursor: pointer;
    .transition(border-color .2s);
    display: inline-block;
    .font-size(1.6);

    &:hover {
        border-color: @btn_default_border_color_hover;
    }

    &:active {
        border-color: @btn_default_border_color_active;
    }
}

.btn-toggle {
    
    .btn {
        border-radius: 0;
        padding: 13px 14px;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .active {
        background: @black;
        color: @white;
    }
}



button.outline{
  background: transparent;
  border: 2px #333 solid;
  font-family: ProximaNovaA-Bold;
  font-size: 16px;
  border-radius: 1px;
  padding: 20px 60px;
  max-width: 400px;

  &:hover{
    border-color: #000;
  }
}

button.outline.big{
  width: 100%;
  height: 110px;
  margin-bottom: 50px;
  font-size: 16px;
}

button.outline.filled{
  background: #333;
  color: #fff;  

  &:hover{
    background: #000;
  }
}

button.no-bg{
  border:none;
  background: none;
}