*,
*:before,
:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background: @background_color;

    @media (max-width: @breakpoint_small) {

        &.reveal_right .wrapper {
            .translate(-@reveal_right_width, 0);
            z-index: auto;
        }        
    
        &.reveal_top.reveal_right .wrapper {
            .translate(-@reveal_right_width, @reveal_top_height);
        }

    }

    &.reveal_top .wrapper {
        .translate(0, @reveal_top_height);        
    }

    &.reveal_top .attic {
        z-index: auto;
    }
}

header {
    background: @white_color;
}

footer {

    position: relative;
    height: @footer_height;
    background: #d1d1d1;
}

.wrapper {
    background: @background_color;
    width: 100%;
    min-height: 100%;
    margin-bottom: -@footer_height;
    .transition-transform(.2s);
    overflow: hidden;

    &:after {
        clear: both;
        content: " ";
        height: @footer_height;
        display: block;
    }

    @media (min-width: @breakpoint_small) {
        padding-top: @menu_horizontal_height;
    }

}

.attic {
    position: fixed;
    background: black;
    height: @reveal_top_height;
    width: 100%;
    z-index: -1;
    padding: 40px;
}

/* Lists */
ul {
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}
