/* Colors */
@background_color:              #eee;
@white_color:                   #fff;
@black_color:                   #000;
@border_color:                  #e0e0e0;

/* Breakpoints */
@breakpoint_small:              768px;
@breakpoint_medium:             992px;
@breakpoint_large:              1200px;

/* Grid */
@col_padding:                   4px;
@col_border_width:              1px;
@col_border_style:              solid;
@col_background_color:          grey;

/* Container */
@container_width:               1200px;

/* Links */
@link_color:                    #000;

/* Forms */
@input_outline:                 none;
@input_border_radius:           4px;
@input_padding:                 10px;

/* Menu */
@menu_border_width:             1px;
@menu_border_style:             solid;
@menu_padding:                  30px;
@menu_icon_size:                15px;